@import "normalize.css";

*{
    font-family: 'Poppins', sans-serif;
}

input[type="text" i]{


    border:0;
    border-bottom:1px solid;
    margin:0;
    top:0;
   outline: none;
    
    background-color: 0 8px 0 0;
   
    cursor:text;
    
}
.box{
    border:1px solid;
    width:40%;
}
i.fa.fa-plus{
    margin-left: 30%;
}


.soundarya{
    border:1px solid;
    width:40vw;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 7%;
   
    box-shadow:20px 20px 10px 20px white;
    height:80%;
    border-radius: 8%;
    
}
.id{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

h4{
    border:1px solid;
    padding:16px;
    border-radius: 20px;
    background-color:darkred;
    color:white;
}
div#button.submit{
    padding-right: 150px;
}
div.button{
    display: flex;
}
form{
    margin-left: 3%;
}



h3 a {
	color:black;
}



h1 {

	
    color:deeppink;
    display: flex;
	}
    h2{
        color:blue;
    }

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {

	background-color: #E64A19;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
    display:flex;
    align-content: center;
    justify-content: space-around;
    height:70px;
    align-items: center;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
    
    
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	
	text-decoration:none;
    
}

nav a:hover { 
	background-color:none; 
}


nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	

nav ul li:hover > ul {
	display:inherit;
}
	

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

  .last{
    display: flex;
    justify-content: space-around;
    
  }
  
 
 .image img{
    height:50vh;
 }
 .magic{
    margin-right: 70%;
 }
 div.information{
    display: flex;
    margin-top: 5%;
 }
 .one{
    display: flex;
    margin-top: 3%;
    background-color: rgb(235, 223, 223);
 }
 .one4{
    margin-left: 8%;
 }
 .one1{
    margin-left: 4%;
    margin-bottom: 3%;
 }
 .one6{
    margin-top: 5%;
 }
 .more{
    margin-left: 3%;
 }
 @media screen and (max-width: 900px){
   body{
    width:1000px;
    height:auto;
   }
   
    header{
        width:1040px;
        background-color: green;
    }
    .magic{
        width:150px;
    }
    .information{
        width:800px;
    }
    .image{
        margin-left: 3%;
    }
    .soundarya{
        width:650px;
       
        
    }
   
      form{
        width:600px;
        margin-left: 15%;

      }
      footer{
        width:1040px;
      }
 }
 @media screen and (max-width: 900px) and (min-width: 600px){

 }



    


