*{
    font-family: 'Poppins', sans-serif;
  }
  

 

 
   
  .slide1{
    display: flex;
    margin-right: 30%;
    margin-top: 8%;
  }
  

.border{
	border:1px solid;
	border-radius: 8px;
	
	margin: 8rem 5rem 0 7rem;
	width:60%;
    height:60%;
    margin-left: 20%;
   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: perspective(1000px);
    transition: transform 0.5s ease;
    
}
.detail{
	display: flex;
	
}
h2{
	margin-left: 10%;
	margin-top: 5%;
}
h3.name_of_pg{
	color:blue;
}
div.detail img{
	margin: 3.5rem 0 0 4rem;
	margin-bottom: 5%;
}
div.click{
	display: flex;
	margin-left: 60%;
	margin-bottom: 3%;
	justify-content:space-around;
}
button.button{
	padding:12px 23px;
	background-color: black;
	color:white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left:20px;
    opacity:0.9;
    cursor:pointer;
    justify-content: space-around;
	
}


  

@media screen and  (max-width: 900px){


}
	
