*{
    font-family: 'Poppins', sans-serif;
  }
  

/* td,th{
    border:1px solid #252424;
    text-align: left;
    padding:10px;
}
.magic{
    margin-right: 70%;
}
table{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
tr:nth-child(odd) {
    background-color:#dddddd;

} */
nav {

	background-color: #E64A19;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
    display:flex;
    align-content: center;
    justify-content: space-around;
    height:70px;
    align-items: center;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
    
    
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	
	text-decoration:none;
    
}

nav a:hover { 
	background-color:none; 
}


nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	

nav ul li:hover > ul {
	display:inherit;
}
	

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

.border{
	border:1px solid;
	border-radius: 8px;
	height:40%;
	width:70%;
	margin: 8rem 5rem 0 7rem;
}
.detail{
	display: flex;
	
}
h2{
	margin-left: 10%;
	margin-top: 5%;
}
h3.name_of_pg{
	color:blue;
}
div.detail img{
	margin: 3.5rem 0 0 4rem;
	margin-bottom: 5%;
}
div.click{
	display: flex;
	margin-left: 60%;
	margin-bottom: 3%;
	justify-content:space-around;
}
button.button{
	padding:12px 23px;
	background-color: black;
	color:white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left:20px;
    opacity:0.9;
    cursor:pointer;
    justify-content: space-around;
	
}
button.buttons{
	margin-left: 10%;
}


@media screen and  (max-width: 900px){


}
	
