*{font-family: 'Poppins', sans-serif;}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }

  .more{
    margin-left: 3%;
  }
  .fa{
    display:inline-block;

  }
  h1{
    color:deeppink;
    display: flex;
  }
  .image img{
    height: 50vh;
  }
  .information{
    display: flex;
    border:1px solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }

form{
    
    width: 400px;
    border:3px solid #f1f1f1;
    margin-top: 100px;
    box-shadow: 20px 20px 50px 15px white;
    margin-bottom: 20px;
    
}
.container {
    padding: 19px;
  }
  
  span.psw {
    float: right;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    
  }
  
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
     border: none;
    cursor: pointer;
    width:30%;
   margin-left: 35%;
   height: 50px;  
  }
  select#available{
    margin-bottom: 8%;
    margin-top: 4%;
  }
  