*{font-family: 'Poppins', sans-serif;}
/* header start */
/* h1 {
	font-size: 60px;
	text-align: center;
	color:black;
  display: flex;
}	 */



h3 a {
	color:black;
}

a {
	color:black;
    text-decoration: none;
}


#container {
	margin: 0 auto;
}



nav {

	background-color: #E64A19;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
    display:flex;
    align-content: center;
    justify-content: space-around;
    height:70px;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
  height:70%;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color:none; 
}


nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	

nav ul li:hover > ul {
	display:inherit;
}
	

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
.magic{
  margin-right: 20%;
}
/* header end */


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 22px;

  }

  .more{
    margin-left: 3%;
  }
  .fa{
    display:inline-block;

  }
  h1{
    color:deeppink;
    display: flex;
  }
  .image img{
    height: 50vh;
  }
  .information{
    display: flex;
    border:1px solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }

form{
    
    width: 400px;
    border:3px solid #f1f1f1;
    margin-top: 100px;
    box-shadow: 20px 20px 50px 15px white;
    margin-bottom: 20px;
    
}
.container {
    padding: 19px;
  }
  
  span.psw {
    float: right;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    
  }
  
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
     border: none;
    cursor: pointer;
    width:30%;
   margin-left: 35%;
   height: 50px;  
  }
  
  select#available{
    margin-bottom: 8%;
    margin-top: 4%;
  }
  