
.list h1 a {
     position: relative;
     bottom:150px;
     left:38vh;
}
 
a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 80px;
    align-content: center;
   
}

header{
    height:160px;
    border-bottom: 1px solid;
    position:sticky;
    top:0px;
    background-color:#95A5A6 ;
    height:100px;
}


img{
    display: flex;
    flex-direction: row;   
}

div.nav1{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height:150px;
     position: sticky;   
}
div.list{
    display: flex;
    flex-direction:row;
    height:100px;
    margin-left: 300px;
    
    
}
.soundarya{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 500px;

}

div.button{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    padding-right: 200px;
    
}


div.soundaryareddy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    padding-right: 30px;
    margin-bottom: 40px;
    

    
}
div.soundu{
    display: flex;
}
a:link, a:visited{
    background-color: #de2560;
    color:white;
    padding:14px 25px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
}
div.photos{
    display: flex;
    justify-content:space-between;
    flex-direction:row;
}
 img{
    display:flex;
    flex-direction: row;
    height:200px;
 }
    
    
   

.just{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.main{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
}
.name{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   
}
.header{
    display: flex;
}
.main.footer{
    display:flex;
    justify-content: space-around;
    background-color: #EAEDED ;
}


    
