




@import "normalize.css";


*{
  font-family: 'Poppins', sans-serif;
}


/* td,th{
  border:1px solid #252424;
  text-align: left;
  padding:10px;
}
.magic{
  margin-right: 70%;
}
table{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}
tr:nth-child(odd) {
  background-color:#dddddd;

} */

h1 {
	font-size: 60px;
	text-align: center;
	color:black;
  display: flex;
}	



h3 a {
	color:black;
}

a {
	color:black;
    text-decoration: none;
}


#container {
	margin: 0 auto;
}



nav {

	background-color:#094067;
  position: fixed;
  top:0;
  width:100%;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
    display:flex;
    align-content: center;
    justify-content: space-around;
    height:70px;
	}
	
nav ul li {
	display:inline-block;
	background-color: #094067;
  height:70%;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color:none; 
}


nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	

nav ul li:hover > ul {
	display:inherit;
}
	

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
.magic{
  margin-right: 40%;
}

  .last{
    display: flex;
    justify-content: space-around;
    
  }
  

*{font-family: 'Poppins', sans-serif;}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    

  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
     border: none;
    cursor: pointer;
    width:30%;
   margin-left: 35%;
   height: 50px;  
  }
  
  
  
  
  
  
  img.avathar {
    width: 100px;
    border-radius: 200%;
    height: 80px;
    margin-left: 15%;
    

  }
  div.avathar{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 80px;
    padding-left: 150px;
  }
  
  .container {
    padding: 19px;
  }
  
  span.psw {
    float: right;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    
  }
 

a:link, a:visited{
    
    color:white;
    
    text-align: center;
    text-decoration:none;
   
}


form{
    height:480px;
    width: 400px;
    border:3px solid #f1f1f1;
    margin-top: 100px;
    box-shadow: 20px 20px 50px 15px white;
    margin-left: 35%;
    
}
h2,p{
    display: flex;
    justify-content:center;
}
div#signin{
 margin-right:50px ;
}
@media screen and (max-width:800px){
  form{
    height:450px;
    width: 360px;
    border:3px solid #f1f1f1;
    margin-top: 100px;
    box-shadow: 20px 20px 50px 15px white;
    margin-inline: auto; 
}
 

}