
@import "normalize.css";


*{
  font-family: 'Poppins', sans-serif;
}


h1 {
	font-size: 60px;
	text-align: center;
	color:black;
  display: flex;
}	



h3 a {
	color:black;
}

a {
	color:black;
    text-decoration: none;
}


#container {
	margin: 0 auto;
}



nav {

	background-color: #E64A19;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
    display:flex;
    align-content: center;
    justify-content: space-around;
    height:70px;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
  height:70%;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color:none; 
}


nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	

nav ul li:hover > ul {
	display:inherit;
}
	

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
.magic{
  margin-right: 40%;
}

  .last{
    display: flex;
    justify-content: space-around;
    
  }
  
  
  .button{
    display:inline-block;
    background-color: #f44336;
    color:white;
    padding:14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left:20px;
    opacity:0.9;
    cursor:pointer;
    justify-content: space-around;
  }
  
  .button a{
    color:white;
  }
  .image{
   
    margin-right: 40px;
    
    margin-left: 2%;
    margin-top: 2%;

  }
  input[type="text"]{
    height:40px;
    margin-top: 10px;
    border-radius: 22px;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  .footer1{
    display: flex;
    
  }

  .bar{
    display:flex;
    border-style: outset;
   width:70%;
    margin-top: 4%;
    align-items: center;
    margin-left: 17%;
    margin-bottom: 5%;
  }
  .rent{
    display: flex;
    justify-content: flex-start;
    border:1px solid;
    width:50%;

  }
  div.text{
    border-right:1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:1%;
    margin-left: 3%;
    margin-right: 3%;
  }
  div.one{
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:1%;
    margin-left: 3%;
    margin-right: 3%;

  }
  div.two{
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:1%;
    margin-left: 3%;
    margin-right: 3%;
  }
  div.three{
    /* border-right: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:1%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .payment{
    width:160%;
  }
  div.number{
    display: flex;
    margin-top: 1%;
  }
  .room-details{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  
  
  .link{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    align-items: center;
    justify-content: space-around;
  }

  .buttons{
    display: flex;
    justify-content: space-around;
  }
  footer{
    background-color: hsl(240, 49%, 84%);
    height:40vh;
    
    
    
   
  }
  .search i{
    position: relative;
    right:30px;
    
  }
  .footerone{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  div.boys{
    color:deeppink;
  }
 
  
  @media screen and (max-width:800px)
  {
    .header{
      width:280%;
    }
    .magic{
      width:10%;
      margin-right: 0%;
    }
    .bar{
      width:200%;
    }
    footer{
      width:280%;
    }
  }
  
  
  
  